/*.row > div {
  border: 1px solid red !important;
}*/
* {
  font-family: Open Sans,sans-serif;
}
a {
  cursor: pointer;
}
#panel {
  height: 100vh;
  background-color: #20033C;
}

#content {
  height: 100vh;
  overflow-y: auto;
  background-color: #451B6D;
}

#legend-container {
  padding-right: 0px;
}

#time-keeper-form {
  /*border: 1px solid red !important;*/
}

#choices {
  border: 1px solid rgb(203,203,203);
  padding: 0;
  max-height:200px;
  overflow-x: auto;
}

#job-input {
  margin: 15px 0 15px 0;
}

.blink {
  animation: glow-out 0.3s;
}

.container-fluid {
  position:relative;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-vertical-center {
  align-self: center;
}

.flex-space-around {
  justify-content: space-around;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

.col-md-half {
  width: 4.1666666667%;
}

.no-padding {
  padding: 0;
}

.no-padding-left {
  padding-left: 0;
}

.circle {
  background-color: white;
  border-radius: 100%;
  text-align: center;
}

.title {
  color: #FFFFFF;
}

.half-padding {
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.space-left {
  margin-left: 2px;
}

.space-right {
  margin-right: 1%;
}

.half-padding-right {
  padding-right: 7px;
}

.half-padding-left {
  padding-left: 7px;
}

.bold {
  font-weight: bold;
}

/* ========= Legend ========= */
#board {
  position: absolute;
  height: 25%;
  background-color: #a28db6;
  z-index: 1;
  bottom: 1%;
  overflow-y: auto;
}

.board-post {
  background-color: #a28db6;
  margin-top: 2px;
}

.board-extra {
  background-color: rgba(255,255,255,0.5);
  font-size: 10px;
  display: none;
}

.board-event {
  padding-top:2px;
  padding-bottom:2px;
  margin-top: 2px;
}

.board-title {
  padding-top: 2px;
  padding-bottom: 2px;
}

#board a {
  color: #20033C;
}
/* ========= End Legend ========= */

/* ========= Control Panel ========= */
#logo {
  margin-top: 15px;
  margin-bottom: 52px;
}

#logo span {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
  font-size: 28px;
  font-family: Abel, sans-serif;
  color: #FFFFFF;
}

.btn-panel {
  background-color: #20033C;
  color: #FFFFFF;
  text-align: left;
  border-bottom: 1px solid #451b6d;
  border-radius: 0;
  padding: 12px 12px;
}

.btn-panel:hover {
  background-color: #451b6d;
  color: #FFFFFF;
}

/* ========= End Control Panel ========= */

/* ========= Clock ========= */
#clock > div {
  margin-top: 1em;
}

#clock-bg {
  height:200px;
  width:200px;
  background-color: #4d487e;
  border-radius: 50%;
}

#clock-inner {
  height:180px;
  width:180px;
  background-color:#7f78bf;
  border-radius: 50%;
  justify-content: center;
  position: relative;
}

#clock-middle {
  position: absolute;
  width: 5%;
  height: 5%;
  background-color: #261f68;
  border-radius: 50%;
  z-index: 1;
  top:50%;
  right:46%;
}

#clock-seconds {
  position: absolute;
  height: 50%;
  width: 3%;
  background-color: #FFFFFF;
  transform-origin: 50% 95%;
  border-radius: 50%;
  margin-top:5%;
  animation: rotation 5s linear infinite;
}

/* ========= End Clock ========= */

/* ========= Form ========= */
.form-item {
  margin-top: 1em;
}

.form-invalid {
  box-shadow: 0px 0px 12px 0px rgba(255, 0, 0, 0.30);
  border: 1px solid rgba(255,0,0,1);
}

.form-invalid:focus {
  box-shadow: 0px 0px 12px 0px rgba(255, 0, 0, 0.30);
  border: 1px solid rgba(255,0,0,1);
}

/* ========= End Form ========= */


/* ========= Table CSS ========= */
.table-choice {
  width: 100%;
}

.table-choice tr:nth-child(even) {
  background-color: #eeeeee;
}

.table-choice tr:nth-child(odd) {
  background-color: #ffffff;
}

.table-choice td {
  padding-left: 15px;
}

.clickable-row {
  cursor: pointer;
}

tr.clickable-row.active {
  background-color: #9bb8ff;
}
/* ========= End Table ========= */

/* ========= Calendar ========= */
#calendar {
  display: flex;
  flex-wrap: wrap;
}

#month-name {
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #a28db6;
}

.month {
  background-color: #a28db6;
}

.month a {
  color: #FFFFFF;
}

.month a:hover {
  color: #20033C;
}

.day {
  border: 1px solid #877599;
  height: 130px;
  width: 14%;
  background-color: #a28db6;
  padding: 0;
  color: #FFFFFF;
}

.week {
  display: flex;
  justify-content: space-between;
}

.day-head {
  border: 1px solid #877599;
  width: 14%;
  height: 30px;
  padding: 0;
  color: #20033C;
}

.day-head > span {
  display: block;
  padding: 4px 0 4px 0;
  background-color: #a28db6;
}

.month {
  border: 1px solid #877599;
  height: 30px;
}

.event {
  font-size: 10px;
  background-color: #761660;
  padding: 2px;
  margin-top: 2px;
}

.event a span {
  padding-right: 0;
}

.event a {
  color: #FFFFFF;
}

.event a:hover span:first-child {
  letter-spacing: 1px;
}

.event-date {
  font-size: 10px;
  padding: 4px;
  color: #20033C;
}

.disabled {
  background-color: #7C6296;
  border-color: #877599;
}
/* ========= End Calendar ========= */

/* ========= Work Log Description ========= */
#entries > div{
  margin-top: 1%;
}

#new-entry {
  margin-top: 15px;
  margin-bottom: 1%;
}

.saved-entry {
  background-color: #761660;
  /*border: 1px solid #FFFFFF;*/
  border-radius: 5px;
}

.entry {
  border-radius: 5px;
  border: none;
  margin-top: 4px;
  margin-bottom: 4px;
}
.entry:disabled {
  cursor: pointer;
  background-color: #761660;
  border-radius: 5px;
  border: none;
  color: white;
}

.saved-entry span {
  color: #FFFFFF;
}

.saved-entry a {
  color: #B04898;
}

.saved-entry a:hover {
  color: #FFFFFF;
}
/* ========= End Work Log Description ========= */

/* ========= Notification Start ========= */

.notify-success {
  position: absolute;
  bottom: 1%;
  right: 1%;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  color: #20033C;
  text-align: center;
}

.notify-warning {
  position: absolute;
  bottom: 1%;
  right: 1%;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  color: #20033C;
  text-align: center;
}

.notify-failure {
  position: absolute;
  bottom: 1%;
  right: 1%;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  color: #20033C;
  text-align: center;
}

/* ========= Notification End ========= */

/* ========= Bootstrap Start ========= */
.btn-primary {
  background-color: #58487E;
  border: none;
}

.btn-primary:hover {
  background-color: #7f78bf;
  border: none;
}

.btn-primary:active {
  background-color: #4d487e;
  border: none;
  outline: none;
}

.btn-primary:focus {
  background-color: #4d487e;
  border: none;
  outline: none;
}

.btn-primary:active:focus {
  background-color: #4d487e;
  border: none;
  outline: none;
}

.btn-primary:active:hover {
  background-color: #4d487e;
  border: none;
  outline: none;
}
/* ========= Bootstrap End ========= */

/* ========= Loading Start ========= */
.loading {
  position: absolute;
  z-index: 100;
  width: 100%;
  bottom: 50%;
  right: 0%;
  text-align: center;
}

.loading span {
  letter-spacing: 0px;
}

.animate-load {
  animation-name: space-out-in;
  animation-delay: 0s;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
/* ========= Loading End ========= */

/* ========= Tooltip Start ========= */
.tooltip-container {
  position: relative;
}

.tooltip-text {
  position: absolute;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  background-color: white;
  border: 1px solid #EEEEEE;
  color: black;
  border-radius: 5px;
  z-index: 2;
  top: -20%;
  width: 300px;
  padding-bottom: 10px;
  padding-top: 10px;
  max-height: 250px;
  min-height: 250px;
  overflow-y: auto;
}

.event-container {
  overflow: auto;
  height: 82%;
}

.job-header {
  display:flex;
  justify-content: space-between;
  width: 100%;
}

.job-title {
  font-size: 20px;
  padding-left:15px;
}

.event-close {
  align-self: center;
  padding-right: 10px;
  color: #58487E;
}

.event-close:hover {
  color: #7f78bf;
}

.event-close:active {
  color: #4d487e;
}

.event-close:focus {
  color: #4d487e;
}

.event-close:active:focus {
  color: #4d487e;
}

.event-close:active:hover {
  color: #4d487e;
}



.event-task-list {
  width: 100%;
  margin-top:7px;
  margin-left: 15px;
  padding-right: 10px;
}

.event-task {
  display: flex;
  width: 100%;
  font-size: 10px;
}

.event-task-num {
  margin-right: 5px;
}
.event-header {
  display: flex;
  font-size: 10px;
  width: 100%;
  margin-left: 15px;
  margin-top: 15px;
  border-bottom: 1px solid #d1d1d1;
  justify-content: space-between;
}

.event-title {
  width: 75%;
}

.event-time {
  padding-right: 10px;
}
/* ========= Tooltip End ========= */


/* ========= Animations ========= */
@keyframes remove {
  0%   {border: 1px solid rgba(255,0,0,1);}
  25%  {border: 1px solid rgba(0,255,0,0.25);}
  50%  {border: 1px solid rgba(0,255,0,0.5);}
  75%  {border: 1px solid rgba(0,255,0,0.75);}
  100% {border: 1px solid rgba(0,255,0,1);}
}

@keyframes example {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes glow-out {
  from   { border-color: rgba(255, 0, 0, 1); box-shadow: 0px 0px 12px 0px rgba(255, 0, 0, 0.30); }
  to   { border-color: rgba(204, 204, 204, 1); box-shadow: 0px 0px 12px 0px rgba(255, 0, 0, 0); }
}

@keyframes rotation {
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes blink {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes space-out-in {
  0% {letter-spacing: 0px;}
  10% {letter-spacing: 1px;}
  20% {letter-spacing: 2px;}
  30% {letter-spacing: 3px;}
  40% {letter-spacing: 4px;}
  50% {letter-spacing: 5px;}
  60% {letter-spacing: 4px;}
  70% {letter-spacing: 3px;}
  80% {letter-spacing: 2px;}
  90% {letter-spacing: 1px;}
  100% {letter-spacing: 0px;}
}
/* ========= End Animations ========= */
